body {
    background-color: #36393e;
}

.banner {
    width: 100%;
    text-align: center;
}

.text {
    color: white;
    text-align: left;
}

div {
    padding: 10px;
    border: 5px solid whitesmoke;
}

.button {
    color: #748dd4;
}

.toppings {
    text-align-all: left;
}

.specials {
}

table {
    color: whitesmoke;
}

.darktext {
    color: black;
}
